<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumSessio">
  <test thread-count="5" name="Trial">
    <classes>
     <class name="session8.testng1"/>
      <class name="session8.testng2"/>
    </classes>
  </test> <!-- Trial -->
</suite> <!-- SeleniumSessio -->
